<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<link rel="stylesheet" href="../static/css/bootstrapmin.css"
	th:href="@{css/bootstrapmin.css}">

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des utilisateurs:</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th>User ID</th>
							<th>Token</th>
							<th>Expire date</th>
							<th>Delete User</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry: ${users}">
							<td th:text="${entry.key}"></td>
							<td th:text="${entry.value.accessToken}"></td>
							<!-- TODO moth by Djer |Thymeleaf| Ceci provoque une erreur si "expire" est NULL ! -->
							<!-- <td th:text="${entry.value.expirationTimeMilliseconds/86400000}"></td> -->
							<!-- Voici une propisition (de la doc : https://www.baeldung.com/spring-thymeleaf-conditionals) -->
							<td th:text="${entry.value.expirationTimeMilliseconds != null} ? ${entry.value.expirationTimeMilliseconds/86400000} : 'Inconnu'"></td>
							<td>
								<a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?')" th:href="@{/delete/user(userKey=${entry.key})}">Delete</a>
								</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
	
</body>
</html>

